<h3><%= @player.name %></h3>

<table>
	<tr>
		<th clas="col-2">aaa</th>
	</tr>
	<tr>
		<td> 
			背番号
		</td>
		<td>
			<% @player.numbers.number %>
		</td>	
	</tr>
	<tr>
		<td> 
			守備位置
		</td>
		<td>
			<% @position %>
		</td>	
	</tr>	
	<tr>
		<td> 
			年俸
		</td>
		<td>
			<% player.prices.price %>
		</td>	
	</tr>
	<% @status.each do |info| %>
	<tr>
		<td> 
			<%= info.year %>
		</td>
		<td>
			<%= info.value  %>
		</td>	
	</tr>
	<tr>
		<td> 
			背番号
		</td>
		<td>
			<% player.numbers.number %>
		</td>	
	</tr>
</table>

<div class="playersSong">
	<%= @player.songs.song %>
</div>

<div class="wiki">
	ウィキペディアのリンク
</div>

<div class="song">
	登場曲
	<div>YouTubeのリンク</div>
</div>

<div class="funsActivity">
	<ul>
		<% @funs_activities.each do |activity| %>
			<li>
				<%= activity %>
			</li>
		<% end %>
	</ul>
</div>